/* ОБНУЛЕННЯ СТИЛІВ ТЕГІВ */

*,
*::before,
*::after{
   margin: 0%;
   padding: 0%;
	border: none;
	box-sizing: border-box;
}

img{vertical-align: top;}

a{color: inherit;}
h1,
h2,
h3,
h4,
h5,
h6{font-weight: inherit;
font-size: inherit;}

li{
	list-style: none;
}


input,
button,
textarea{
	font-family: inherit;
	font-size: inherit;
}



body{
	line-height: 1;
}



button{
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}